<div class="container">
    <div class="fluid-container" [ngClass]="{ 'day-background': isDayTime(), 'night-background': !isDayTime() }"
        [ngStyle]="{ 'background-image': backgroundImage }">
        <h1>Weather Application</h1>
        <form action="">
            <input type="text" name="cityName" placeholder="Enter City Name" [(ngModel)]="city">
            <button type="button" (click)="getWeather()" class="button button1"> Get Weather Details </button>
        </form>
        <div *ngIf="weatherData" class="weather-details">
            <h2>{{ weatherData.name }}</h2>
            <p> {{ displayedTime }}</p>
            <p>Time of Day: {{ isDayTime() ? 'Day' : 'Night' }}</p>
            <fa-icon [icon]="getWeatherIcon(weatherData.weather[0].description)"></fa-icon>
            <p>{{ weatherData.weather[0].description }}</p>
            <button class="weather-button description">Description: {{ weatherData.weather[0].description }}</button>
            <button class="weather-button temperature">Temp: {{ weatherData.main.temp }} °C</button>
            <button class="weather-button humidity">Humidity: {{ weatherData.main.humidity }}%</button>
            <button class="weather-button wind">Wind Speed & Direction: {{ weatherData.wind.speed }} m/s, {{
                weatherData.wind.deg }}°</button>
        </div>
    </div>
      
</div>
<footer>
    <p>&copy; 2023 Pratik Raj. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://github.com/EngineerPratikRaj/LatestWeatherApp.git" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/pratik-raj-437717267" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </footer>